[Unit]
Description=skydns2
After=docker.service
Wants=skydns2-init.service

[Service]
Restart=always
RestartSec=15
TimeoutSec=120
EnvironmentFile=/etc/environment
Environment="DOMAIN_NAME=cluster.duffqiu.org"
ExecStartPre=-/usr/bin/docker kill skydns2-%H
ExecStartPre=-/usr/bin/docker rm skydns2-%H
ExecStartPre=/usr/bin/docker pull  duffqiu/skydns2:latest
ExecStartPre=/usr/bin/etcdctl set /skydns/config '{"dns_addr":"0.0.0.0:53","ttl":3600, "nameservers": ["146.11.5.10:53","146.11.115.200:53"],"rcache_ttl":5, "hostmaster":"duffqiu@gmail.com"}'
ExecStart=/usr/bin/docker run --rm \
                              --name skydns2-%H \
                              --env SKYDNS_DOMAIN=${DOMAIN_NAME} \
                              --env ETCD_MACHINES=http://${COREOS_PRIVATE_IPV4}:4001 \
                              --hostname nameserver1.${DOMAIN_NAME} \
                              -p ${COREOS_PRIVATE_IPV4}:53:53/tcp \
                              -p ${COREOS_PRIVATE_IPV4}:53:53/udp \
                              duffqiu/skydns2:latest
ExecStop=/usr/bin/docker stop skydns2-%H

[X-Fleet]
Global=true
